{{#partial "body"}}
    <div class="container">
        <p></p>
        {{#with post}}
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title font-weight-bold">{{title}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{writer}}</h6>
                    <hr>
                    <p class="card-text">{{contents}}</p>
                </div>
            </div>
        {{/with}}
    </div>
{{/partial}}

{{> layout/layout}}