{{#partial "body"}}
    <div class="container">
        <div class="text-right">
            <a href="/posts/write" class="btn btn-primary" role="button">글쓰기</a>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Writer</th>
            </tr>
            </thead>
            <tbody>
            {{#each posts}}
                <tr>
                    <td><a href="/posts/{{id}}/detail">{{title}}</a></td>
                    <td>{{writer}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>

        {{> component/pagination}}
    </div>
{{/partial}}

{{> layout/layout}}